<div class="col-sm-12 col-md-5 p-0 d-inline-block">
    <label>@ClothesShop.Languages.Resources.DeliveryMan</label>
    : <span>@ViewBag.EmployeeName</span>
</div>
<div class="col-sm-12 col-md-5 p-0 d-inline-block">
    <label>@ClothesShop.Languages.Resources.MobileNumber</label>
    : <span>@ViewBag.EmployeeMobileNumber</span>
</div>
<hr />
<div id="OrdersGrid"></div>
