#sidebar {
    direction: rtl !important;
    text-align: right !important;
    z-index: 99;
}

    #sidebar .sidebar-nav {
        padding: 0px !important;
    }

.navbar-nav {
    direction: rtl !important;
}

    .navbar-nav * {
        direction: rtl;
        text-align: right;
    }

.navbar-expand .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
}

.sidebar.collapsed {
    margin-right: -260px
}

.sidebar.collapsed {
    margin-left: 0px
}

.dropdown-menu-end[data-bs-popper] {
    right: auto;
    left: 0;
}

@media(max-width:768px) {
    #sidebar {
        display: none;
    }
    .navbar {
        padding: 0.75rem;
        z-index: 99;
    }
}
@media(min-width:769px) {
    .customStyle
    {
        display:inline-block;
    }
}

.content{
    padding: 15px !important;
}

.dir-ltr{
    direction: ltr !important;
}
.dir-rtl{
    direction: rtl !important;
}

.dx-link.btn{
    color: white !important;
    text-decoration: none !important;
}

.pull-left{
    float: left !important;
}

.custom-card-body{
    height: calc(100vh - 260px);
    overflow: auto !important;
}

::-webkit-scrollbar-track {
    background: #f7f7f7;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.col-md-5{
    margin-left: 15px !important;
}

.form-label{
    font-weight: 500;
    color: black;
    letter-spacing:-0.01rem;
}
#loading{
    display: none;
    position: relative;
   z-index:9999;
}
#loading img{
    width: 100px;
    height: 100px;
    left:40vw;
    top:40vh;
    position: absolute;
}