.bootstrap-select .dropdown-menu li a {
    text-align: right;
}

.filter-option {
    text-align: right !important;
}

.bootstrap-select .dropdown-toggle .caret {
    right: auto !important;
    left: 12px !important;
}
.SelectDropDownList .dropdown-menu.open {
    height: 200px !important;
    max-height: 200px !important;
    overflow:auto !important;
    bottom:0;
}
div[id*='bs-select']{
    max-height:max-content !important;
}