@using ClothesShop.Languages
<div class="col-md-2 mb-3 d-inline-block">
    <div class="col-sm-12">
        <label>@Resources.Name</label>
        <span class="text-danger">*</span>
    </div>
    <div class="col-md-12">
        <div id="Name"></div>
    </div>
</div>
<div class="col-md-2 mb-3 d-inline-block">
    <div class="col-sm-12">
        <label>@Resources.Cost</label>
        <span class="text-danger">*</span>
    </div>
    <div class="col-md-12">
        <div id="Cost"></div>
    </div>
</div>
<div class="col-md-1 mb-3 d-inline-block">
    <button type="button" id="addNew" class="btn btn-md btn-primary">
        <i class="dx-icon-add"></i>
    </button>
</div>
<div id="TodayExpensGrid"></div>


