#navbar, body {
    direction: rtl;
}

.navbar-nav, .navbar-brand, .navbar-header {
    float: right;
}

#wrapperContainer {
    left: unset;
    right: 0px;
}

#collapseLeftMenu {
    text-align: left;
}

#footer {
    left: 0px;
    right: unset;
}

#bodyContainer, #bodyContainer.active {
    left: unset;
}

#dropdown #dropdown-toggle {
    float: left;
}

#dropdown-menu {
    right: unset;
    left: 0px;
}

#dropdown-menu li {
    text-align: right;
}

#navbar {
    margin-right: 125px;
    margin-left:0px;
}

#navbar.leftMenuActive {
    margin-right: 125px;
    margin-left: 0px;
}
.floatRight{
    float:right;
}
.floatLeft{
    float:left;
}
.form-horizontal .control-label {
    text-align: right !important;
}
.modal-footer {
    text-align: left;
}
.jBox-wrapper{
    text-align:right !important;
}
.caretMenuDown {
    float: left !important;
    margin:1px -11px;
}
.table tr td , .table tr th{
    text-align:right;
}
.txt-right{
    text-align:right;
}
.txt-left{
    text-align:left;
}
.f-right{
    float:right;
}
.f-left{
    float:left;
}
.bootbox-close-button.close {
    float: left;
    margin-top: 1px;
}
.bootbox-confirm .btn-danger{
    float:left;
}
#bodyContainer.leftMenuActive{
    right:0px !important;
    left:auto;
}
.pagination > li {
    float: right;
}

.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}