@{
    Layout = "Layout.cshtml";
    ViewBag.Title = ClothesShop.Languages.Resources.Error;
}
<hgroup>
    <h1><img src="~/Images/warning.png" /></h1>
    <h1>@ClothesShop.Languages.Resources.Error</h1>
    <h2>@ClothesShop.Languages.Resources.ErrorWhileProcessRequest</h2>
    <h5>
        <a href="@Url.Action("Index","Home", new { area = "" })" class="btn btn-primary">
            @ClothesShop.Languages.Resources.BackToHome
        </a>
    </h5>
</hgroup>




