@{
    Layout = "Layout.cshtml";
    ViewBag.Title = ClothesShop.Languages.Resources.InternalError;
}
<hgroup>
    <h1><img src="~/Images/close.png" /></h1>
    <h1>@ClothesShop.Languages.Resources.InternalError</h1>
    <h2>@ClothesShop.Languages.Resources.InternalServerError</h2>
    <h5>
        <a href="@Url.Action("Index","Home", new { area = "" })" class="btn btn-primary">
            @ClothesShop.Languages.Resources.BackToHome
        </a>
    </h5>
</hgroup>


