@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/app.css" rel="stylesheet" />
    <style>
        body {
            padding: 0px !important;
        }

        img {
            width: 100px;
        }

        h1 {
            color: darkred;
        }

        h2 {
            color: gray;
        }

        hgroup {
            padding: 20px;
            border: 1px solid lightgray;
            border-radius: 5px;
            text-align:center;
        }
    </style>
</head>
<body>
    <div class="col-sm-12 col-md-4" style="display:inline;">
           @RenderBody()
    </div>
</body>
</html>


